
.carouselParent{
    align-items: center;
}

.carouselbg{
    width: 80%;
    height:500px;
    padding: 30px;
    
}
.item{
    background-color:#060B26;
    width: 100% ;
    align-items: center;
}
