.div1
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color:#060B26; 
}

.h1
{
  text-align:center;
  padding-top:10px;
  background-color:black;
  color:white;
  height:60px
}

.form1
{
    margin-top: 200px;
    margin-left:70px;
    width:90%;

}

